table tr td p {
    margin-bottom: 0;
}

.__tableDanger td,
.__tableWarning td,
.__tableSuccess td,
.__tableInfo td {
    color: white;
}

.__tableInfo td a:hover {
    color: white;
}

.__tableDanger {
    background-color: #881d11;
}

.__tableWarning {
    background-color: #916f08;
}

.__tableSuccess {
    background-color: #009973;
}

.__tableInfo {
    background-color: #006699;
}

.__tableHead {
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.__tableHead select {
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    background-color: #222;
}

.table thead th {
    vertical-align: middle !important;
}

.__unverified {
    color: #666 !important;
}
